<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li (click)="getPrevPage()" class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item">
      <a (click)="getpage($event)" class="page-link">1</a>
    </li>
    <li class="page-item">
      <a (click)="getpage($event)" class="page-link">2</a>
    </li>
    <li class="page-item">
      <a (click)="getpage($event)" class="page-link">3</a>
    </li>
    <li class="page-item">
      <a (click)="getpage($event)" class="page-link">4</a>
    </li>
    <li class="page-item">
      <a (click)="getpage($event)" class="page-link">5</a>
    </li>
    <li class="page-item">
      <a (click)="getpage($event)" class="page-link">6</a>
    </li>
    <li class="page-item">
      <a (click)="getpage($event)" class="page-link">7</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="getNextPage()">Next</a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="title">
        <h1>
          now playing <br />
          movies<br />
          watch now
        </h1>

        <input type="text" class="form-control"  [(ngModel)]="searchWord"  />
      </div>
    </div>

    <div *ngFor="let movie of moviesContainer|search:searchWord" class="col-md-2">
      <div class="position-relative">
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          class="w-100"
          alt=""
          [routerLink]="['/singlemovie', movie.id, movie.title]"
        />
        <h5>{{ movie.title }}</h5>
        <!-- <h1>{{ movie.id |currency }}</h1> -->
        <p class="vote bg-info">{{ movie.vote_average }}</p>
        <!-- <p class="vote bg-info">{{ movie.overview}}</p> -->
      </div>
    </div>
  </div>
</div>

<!-- search -->

<!-- recommend -->







<!--

production

unsubscripe
hosting doamin
XD -->

<!-- 9:20 -->
